@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed|Roboto+Slab');
h1 {
  text-align: center;
  font-family: 'Roboto Slab';
  font-weight: 700;
  font-size: 20px;
  color: #03A694;
}
h2 {
  font-family: 'Barlow Condensed';
  text-align: center;
  font-size: 10px;
}
body {
  text-align: center;
  background: #071930;
  background-size: cover;
  color: #fff;
  font-family: Helvetica, sans-serif;
}
hr {
  width: 200px;
}
p {
  font-family: 'Roboto Slab', serif;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 18px;
  line-height: 1.5em;
  margin: 2em;
  text-align: center;
}
ul {
	font-family: 'Barlow Condensed', sans-serif;
	text-align: center;
	list-style-position: inside;
}
#slogan {
	text-align: center;
	font-style: italic;
	color: #F24738;
}

header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}
nav {
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;
}
aside {
	background-color: #FFC675;
	border: 1px black solid;
	padding: 20px;
}
article {
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;
}
footer {
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
}
div {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}
section {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}
#two_column{
		backgrounnd-color: #FFB7CF;
		border: 1px black solid;
		padding: 20px;
}

#left {
		background-color: violet;
		border: 1px black solid;
		padding: 20px;
		float: left;
		width: 30%;
}

#right {
		background-color: pink;
		border: 1px black solid;
		padding: 20px;
		float: right;
		width: 62%;
}

.clearfix:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
