h1 {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  color: #03A694;
}
h2 {
  font-size: 10px;
}
body {
  text-align: center;
  background: url("images/creative_b.jpg");
  background-size: cover;
  color: #cecece;
  font-family: Helvetica, sans-serif;
}
hr {
  width: 200px;
}
p {
  font-size: 22px;
}
#slogan {
	font-style: italic;
}